*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* ====== Colors ======= */
    --clr-extra-dark: #2E323F;
    --clr-dark-gray: #3B4050;
    --clr-light-gray: hsla(225, 7%, 90%);
    /* Texts colors */
    --clr-gray: #a7abb3;
    --clr-pantone: #A59678;
    --clr-white: #fff;

    /* Fonts & Typography*/
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-oswald: 'Oswald', sans-serif;

    --fs-18px: 1.125rem;
    --fs-21px: 1.3125rem;
    --fs-24px: 1.5rem;
    --fs-30px: 1.875rem;
    --fs-36px: 2.25rem;
    --fs-90px: 5.625rem;
}

body {
    margin: 0;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-oswald);
    margin: 0;
}

p {
    font-family: var(--ff-montserrat);
    margin: 0;
    color: var(--clr-dark-gray);
}
/* ======= Applies to Multiple Sections ======= */
.clr-pantone {
    color: var(--clr-pantone);
}

.clr-white {
    color: var(--clr-white);
}

/* ====== HEADER / NAVIGATION BAR ====== */
header {
    background: var(--clr-extra-dark);
    padding: .5rem 0;
}

#container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-wrapper {
    width: 55px;
    align-self: stretch;
}

.logo {
    height: 100%;
}

.hamburger {
    width: 36px;
    height: auto;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.3s;
}


/* ============ SECTION-1 ============ */
.hero {
    background: var(--clr-dark-gray);
    min-height: 28.125rem;
}

.container {
    width: min(86%, 1200px);
    margin: 0 auto;
}

.hero__txt-cta-container {
    margin:  0 auto; 
    padding: 3em 0;
}

.hero__title {
    font-size: clamp(3.5rem, 5vw, var(--fs-90px));
}

.hero__txt {
    font-size: clamp(1.2rem, 2vw, var(--fs-24px));
}

.cta-center {
    text-align: center;
}

.hero__cta {
    cursor: pointer;
    font-size: var(--fs-24px);
    font-family: var(--ff-oswald);
    /* width: 80%; */

    background: var(--clr-pantone);
    border: none;
    border-radius: 3em;
    padding: .25em 1.25em;
    margin: 0 auto;
    margin-top: 2em;

    align-self: flex-start;
}


/* ======= SECTION-2 ======= */
.features {
    background: var(--clr-light-gray);
    padding: 2em 0;
}

.features .container {
    text-align: center;
}

.col {
    padding: 1em;
}

.features__heading {
    font-size: var(--fs-30px);
    margin-bottom: .5em;
}

.features__description {
    font-size: var(--fs-18px);
    margin-bottom: 1em;
}
/*========= SECTION-3 ========= */

.tips .container {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    padding: 3rem 0;
}

.tips__heading {
    font-size: var(--fs-36px);
}

.tips__description {
    font-size: var(--fs-21px);
    margin-top: 1.75em;
}

.tips__img {
    margin-top: 3rem;
}

.tips__secondary {
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tip-box {
    background: var(--clr-dark-gray);
    text-align: center;
    padding: 1em;
}

.tip__title, .tip__txt {
    padding-bottom: .5em;
}

.tip__title {
    font-size: var(--fs-30px);
}

.tip__txt {
    font-size: var(--fs-18px);
    color: inherit;
}

/*  ======= FOOTER-SECTION ======= */

.footer {
    background: var(--clr-dark-gray);
    text-align: center;
    padding: 2rem 1.5rem;
}

.footer__title {
    font-size: var(--fs-24px);
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__content h3 {
    font-size: var(--fs-21px);
}
.footer__content p {
    color: var(--clr-gray);
    font-size: var(--fs-16px);
}

.footer__content p {
    padding-top: 1em;
}

.footer__content h3 {
    padding-top: 2em;
}